* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    background-image: url('https://img.freepik.com/free-photo/copy-space-stethoscope-pills_23-2148550954.jpg?t=st=1737138609~exp=1737142209~hmac=d4bc05a4853ca7605eb53aaf1493e62ea26fffb2a7542b1ad943237f02ee17ec&w=740');
    background-size: cover; 
    background-position: center center;  
    background-attachment: fixed;  

  }
  
  